

  .hometitle {
    color: black;
    font-size: 40px;
    font-style: italic;
    text-align: center;
  }

  .dessertcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin:10px auto;
  }

  .card {
    margin: 10px;
  }



   .card-Container {
   
    margin-left: 10px;
    
    
  } 

  .cardcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin:0px auto;
  }
  








  

