/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

figcaption {
  position:absolute;
  bottom: 2rem;
  margin: 0 2rem;
  color: black;
  font-size: 1.5rem
  }
  @media screen and (max-width: 768px) {
    figcaption{
      position: inherit;
      bottom: inherit;
      margin: 25rem 0px;
      font-size: inherit;
      color: inherit;
    }

    } */

  .hometitle {
    color: black;
    font-size: 40px;
    font-style: italic;
    text-align: center;
  }

  .dessertcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin:10px auto;
  }

  .card {
    margin: 10px;
  }



   .poemContainer {
   
    margin-left: 10px;
    
    
  } 

  .cardcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin:0px auto;
  }
  








  

